body {
	background: #2F2840 url("Assets/bg_body.gif");
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

header, main, footer {
	width: 85%;
	margin: 0 auto;
}

header {
	padding: 100px 0 80px 0;
}

main {
	background: white;	
	margin: 0 auto;
	color: #45494D;
	padding-top: 50px;
}

p {
	margin: 0 auto;
	font-size: 1.3em;
}

h2 {
	margin: 15px 0 40px 0;
	display: inline-block;
	font-size: 2.2em;
}

h3 {
	font-size: 1.5em;
	color: #3E98B2;
	margin-top: 0;
}

article {
	padding: 100px 110px;
}

footer {
	background: #E7E7E7;
	padding: 30px 0;
}

footer ul {
	list-style: none;
	text-align: center;
}

footer li {
	padding: 0 60px;
	display: inline;
	float: none;
}

@media only screen and (max-width: 700px) {
	footer li {
		padding: 0 15px;
	}
	article {
		padding: 100px 20px;
	}
}

/* Applying padding/margin to different things i.e. body vs header vs h1 OK?! */